In [100]:
import pandas as pd

In [2]:
goodreads = pd.read_csv("/Users/birsenbas/Desktop/project 5/GOODREADS_CLEAN2")

In [3]:
goodreads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69681 entries, 0 to 69680
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   bookName      69681 non-null  object
 1   author        69681 non-null  object
 2   rating        69681 non-null  float64
 3   ratingCount   69681 non-null  object
 4   reviewCount   69681 non-null  object
 5   summary       68546 non-null  object
 6   reviews       69676 non-null  object
 7   rating_users  69677 non-null  float64
 8   user          69677 non-null  object
dtypes: float64(2), object(7)
memory usage: 4.8+ MB

In [4]:
goodreads.head(5)

,bookName,author,rating,ratingCount,reviewCount,summary,reviews,rating_users,user
0,The Hunger Games,Suzanne Collins,4.32,"7,550,740","186,972","Could you survive on your own in the wild, wit...",This review has been hidden because it contain...,5.0,Suzanne Collins
1,The Hunger Games,Suzanne Collins,4.32,"7,550,740","186,972","Could you survive on your own in the wild, wit...",Latest BookTube Video is up - a totally seriou...,4.0,Saniya
2,The Hunger Games,Suzanne Collins,4.32,"7,550,740","186,972","Could you survive on your own in the wild, wit...",I was forced into watching Mockingjay: Part II...,5.0,Miranda Reads
3,The Hunger Games,Suzanne Collins,4.32,"7,550,740","186,972","Could you survive on your own in the wild, wit...","My ""Epic Book Recipe"" Checklist for The Hunger...",5.0,"Khanh, first of her name, mother of bunnies"
4,The Hunger Games,Suzanne Collins,4.32,"7,550,740","186,972","Could you survive on your own in the wild, wit...",Absolute solid gold standard. Phenomenal. Don'...,5.0,Dija

In [5]:
goodreads["ratingCount"] = goodreads["ratingCount"].str.replace(",", "")
goodreads["reviewCount"] = goodreads["reviewCount"].str.replace(",", "")

In [6]:
goodreads['bookName'] = goodreads['bookName'].str.strip()

In [7]:
goodreads.head(5)

,bookName,author,rating,ratingCount,reviewCount,summary,reviews,rating_users,user
0,The Hunger Games,Suzanne Collins,4.32,7550740,186972,"Could you survive on your own in the wild, wit...",This review has been hidden because it contain...,5.0,Suzanne Collins
1,The Hunger Games,Suzanne Collins,4.32,7550740,186972,"Could you survive on your own in the wild, wit...",Latest BookTube Video is up - a totally seriou...,4.0,Saniya
2,The Hunger Games,Suzanne Collins,4.32,7550740,186972,"Could you survive on your own in the wild, wit...",I was forced into watching Mockingjay: Part II...,5.0,Miranda Reads
3,The Hunger Games,Suzanne Collins,4.32,7550740,186972,"Could you survive on your own in the wild, wit...","My ""Epic Book Recipe"" Checklist for The Hunger...",5.0,"Khanh, first of her name, mother of bunnies"
4,The Hunger Games,Suzanne Collins,4.32,7550740,186972,"Could you survive on your own in the wild, wit...",Absolute solid gold standard. Phenomenal. Don'...,5.0,Dija

In [14]:
import pandas as pd
import re
import gensim
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
import pandas as pd
import re
import gensim
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download()

punctuation = '!"$%&\'()*+,-./:;<=>?[\\]^_`{|}~•@'

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [9]:
goodreads['bookName'].value_counts()

Thunderhead                                                                                          60
Undone                                                                                               60
Radiance                                                                                             59
Pure                                                                                                 58
The Reckoning                                                                                        58
                                                                                                     ..
Coeur pourri de laine (DF)                                                                            1
Successful Freelancing And Outsourcing: A Guide To Make Money Online And Increase Business Profit     1
The Wedding                                                                                           1
(Un) Spoken                                                                                           1
Laços fortes e decisões difíceis                                                                      1
Name: bookName, Length: 2445, dtype: int64

In [42]:
len(pd.unique(goodreads["bookName"]))

2445

In [43]:
df = goodreads.drop_duplicates(subset = "bookName")

In [44]:
df.shape

(2445, 9)

In [45]:
df.head(5)

,bookName,author,rating,ratingCount,reviewCount,summary,reviews,rating_users,user
0,The Hunger Games,Suzanne Collins,4.32,7550740,186972,"Could you survive on your own in the wild, wit...",This review has been hidden because it contain...,5.0,Suzanne Collins
30,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,2999225,53202,There is a door at the end of a silent corrido...,“Is it true that you shouted at Professor Umbr...,5.0,"J.K. Rowling, \n\n\nMary GrandPré (Illustrator)"
58,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.61,123988,2034,"This four-volume, boxed set contains J.R.R. To...","Some will shout with joy, others will scream i...",5.0,J.R.R. Tolkien
86,Wuthering Heights,Emily Brontë,3.88,1597429,48940,You can find the redesigned cover of this edit...,I am just on fire with so much admiration for ...,5.0,"Emily Brontë, \n\n\nRichard J. Dunn (Editor), ..."
116,The Da Vinci Code,Dan Brown,3.89,2176805,51255,ISBN 9780307277671 moved to this edition.While...,Four stars for pure entertainment value.Howeve...,3.0,Dan Brown (Goodreads Author)

In [17]:
df["reviews"] = df["reviews"].astype('string')

/var/folders/90/_lwt0ls51gv2bkw5mnzmk25r0000gp/T/ipykernel_68707/2848276597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["reviews"] = df["reviews"].astype('string')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2445 entries, 0 to 69651
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   bookName      2445 non-null   object
 1   author        2445 non-null   object
 2   rating        2445 non-null   float64
 3   ratingCount   2445 non-null   object
 4   reviewCount   2445 non-null   object
 5   summary       2404 non-null   object
 6   reviews       2441 non-null   object
 7   rating_users  2441 non-null   float64
 8   user          2441 non-null   object
dtypes: float64(2), object(7)
memory usage: 191.0+ KB

In [58]:
# Text preprocessing steps - remove numbers, captial letters and punctuation
import re
import string

alphanumeric = lambda x: re.sub('\w*\d\w*', ' ', str(x))
punc_lower = lambda x: re.sub('[%s]' % re.escape(string.punctuation), ' ', x.lower())

In [57]:
df['reviews'] = df.reviews.map(alphanumeric).map(punc_lower)

/var/folders/90/_lwt0ls51gv2bkw5mnzmk25r0000gp/T/ipykernel_68707/1322876176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviews'] = df.reviews.map(alphanumeric).map(punc_lower)

In [59]:
df['reviews'].head(5)

0      this review has been hidden because it contain...
30     “is it true that you shouted at professor umbr...
58     some will shout with joy  others will scream i...
86     i am just on fire with so much admiration for ...
116    four stars for pure entertainment value howeve...
Name: reviews, dtype: object

In [61]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [67]:
df.head(5)

,bookName,author,rating,ratingCount,reviewCount,summary,reviews,rating_users,user
0,The Hunger Games,Suzanne Collins,4.32,7550740,186972,"Could you survive on your own in the wild, wit...",this review has been hidden because it contain...,5.0,Suzanne Collins
30,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,2999225,53202,There is a door at the end of a silent corrido...,“is it true that you shouted at professor umbr...,5.0,"J.K. Rowling, \n\n\nMary GrandPré (Illustrator)"
58,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.61,123988,2034,"This four-volume, boxed set contains J.R.R. To...",some will shout with joy others will scream i...,5.0,J.R.R. Tolkien
86,Wuthering Heights,Emily Brontë,3.88,1597429,48940,You can find the redesigned cover of this edit...,i am just on fire with so much admiration for ...,5.0,"Emily Brontë, \n\n\nRichard J. Dunn (Editor), ..."
116,The Da Vinci Code,Dan Brown,3.89,2176805,51255,ISBN 9780307277671 moved to this edition.While...,four stars for pure entertainment value howeve...,3.0,Dan Brown (Goodreads Author)

In [68]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = stopwords.words('english')
df['reviews'] = df['reviews'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/birsenbas/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/var/folders/90/_lwt0ls51gv2bkw5mnzmk25r0000gp/T/ipykernel_68707/3074925014.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviews'] = df['reviews'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [71]:
df.tail(10)

,bookName,author,rating,ratingCount,reviewCount,summary,reviews,rating_users,user
69392,The Traitor's Game,Jennifer A. Nielsen,3.83,9391,1313,Nothing is as it seems in the kingdom of Antor...,yes biased hope readers love book much adore k...,5.0,Jennifer A. Nielsen (Goodreads Author)
69420,Después de diciembre,Joana Marcús,4.41,34393,2698,El tiempo podía transcurrir con mucha mas lent...,alexa play back december taylor swift ☆,3.0,Joana Marcús (Goodreads Author)
69450,Tessa in Love,Kate le Vann,3.87,577,46,"Tessa at sixteen, is pretty, but terribly shy ...",reading book went emotions known man tessa fel...,5.0,Kate le Vann
69478,Six Frigates: The Epic History of the Founding...,Ian W. Toll,4.35,6195,506,"How ""a handful of bastards and outlaws fightin...",magnificent reading vivid riveting star accoun...,5.0,Ian W. Toll (Goodreads Author)
69508,Blue Angel,Francine Prose,3.37,3605,475,"It has been years since Swenson, a professor i...",love train wrecks better question book train w...,4.0,Francine Prose (Goodreads Author)
69536,Earth,David Brin,3.93,7194,317,"TIME IS RUNNING OUT Decades from now, an artif...",easy read spite well written accessible prose ...,4.0,David Brin (Goodreads Author)
69566,The Ship of Brides,Jojo Moyes,3.84,36448,3122,From the New York Times bestselling author of ...,think would picked synopsis sound exciting got...,5.0,Jojo Moyes (Goodreads Author)
69596,لماذا من حولك أغبياء؟,Sherif Arafa,3.77,7686,908,أنت شخص ذكي، وإلا لما جذبك عنوان الكتاب، ولما ...,okay decide feelings book mixed simply non exi...,2.0,Sherif Arafa (Goodreads Author)
69622,Variant,Robison Wells,3.93,22257,2758,Benson Fisher thought that a scholarship to Ma...,completely unbiased rating completely unbiased...,5.0,Robison Wells (Goodreads Author)
69651,Zig Zag,José Carlos Somoza,3.72,1751,172,While an advanced physics graduate student at ...,scientists truth truth scientists karl schlect...,3.0,"José Carlos Somoza, \n\n\nLisa Dillman (Transl..."

In [72]:
df['summary'] = df.summary.map(alphanumeric).map(punc_lower)

/var/folders/90/_lwt0ls51gv2bkw5mnzmk25r0000gp/T/ipykernel_68707/1498028343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['summary'] = df.summary.map(alphanumeric).map(punc_lower)

In [73]:
df['summary'] = df['summary'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

/var/folders/90/_lwt0ls51gv2bkw5mnzmk25r0000gp/T/ipykernel_68707/886330198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['summary'] = df['summary'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [74]:
df['summary'].head(5)

0      could survive wild every one make sure live se...
30     door end silent corridor it’s haunting harry p...
58     four volume boxed set contains j r r tolkien e...
86     find redesigned cover edition best selling nor...
116    isbn moved edition paris harvard symbologist r...
Name: summary, dtype: object

In [128]:
df.head(10)

,bookName,author,rating,ratingCount,reviewCount,summary,reviews,rating_users,user
0,The Hunger Games,Suzanne Collins,4.32,7550740,186972,could survive wild every one make sure live se...,review hidden contains spoilers view click lma...,5.0,Suzanne Collins
30,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,2999225,53202,door end silent corridor it’s haunting harry p...,“is true shouted professor umbridge yes called...,5.0,"J.K. Rowling, \n\n\nMary GrandPré (Illustrator)"
58,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.61,123988,2034,four volume boxed set contains j r r tolkien e...,shout joy others scream derision however agree...,5.0,J.R.R. Tolkien
86,Wuthering Heights,Emily Brontë,3.88,1597429,48940,find redesigned cover edition best selling nor...,fire much admiration emily brontë right wuther...,5.0,"Emily Brontë, \n\n\nRichard J. Dunn (Editor), ..."
116,The Da Vinci Code,Dan Brown,3.89,2176805,51255,isbn moved edition paris harvard symbologist r...,four stars pure entertainment value however da...,3.0,Dan Brown (Goodreads Author)
146,The Perks of Being a Wallflower,Stephen Chbosky,4.22,1556524,74254,standing fringes life offers unique perspectiv...,like lurk frequent tumblr realised far scroll ...,3.0,"Stephen Chbosky, \n\n\nEllen Karine Berg (Tran..."
176,Les Misérables,Victor Hugo,4.19,747771,20188,librarian note alternate cover edition isbn vi...,les misérables translated french miserable one...,5.0,"Victor Hugo, \n\n\nNorman MacAfee (Translator)..."
205,Charlotte's Web,E.B. White,4.19,1654702,21122,beloved book e b white author stuart little tr...,give fig kid book charlotte web one well craft...,5.0,"E.B. White, \n\n\nGarth Williams (Illustrator)..."
234,Dracula,Bram Stoker,4.01,1107984,34343,find alternative cover edition isbn rich selec...,two things book really great creepy story dese...,3.0,"Bram Stoker, \n\n\nRubén Toledo (Illustrations..."
264,The Odyssey,Homer,3.79,976070,15696,sing man muse man twists turnsdriven time cour...,okay happened went work guys went perfectly ni...,5.0,"Homer, \n\n\nRobert Fagles (Translator), \n\n\..."

In [76]:
df.to_csv('GOODREADS_REC_DATA', sep=',', header=True, index=False)

In [36]:
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(2018)
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/birsenbas/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [79]:
# Calculate mean of vote average column
C = df['rating_users'].mean()
print(C)

3.8803768947152806

In [77]:
# Calculate the minimum number of votes required to be in the chart, m
m = df['rating_users'].quantile(0.90)
print(m)

5.0

In [80]:
# Filter out all qualified movies into a new DataFrame
q_books = df.copy().loc[df['rating_users'] >= m]
q_books.shape

(1064, 9)

In [81]:
df.shape

(2445, 9)

In [51]:
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['ratingCount']
    R = x['rating_users']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
## üsttekine sonra devam edebilirsin

In [82]:
df["reviews"].head()

0      review hidden contains spoilers view click lma...
30     “is true shouted professor umbridge yes called...
58     shout joy others scream derision however agree...
86     fire much admiration emily brontë right wuther...
116    four stars pure entertainment value however da...
Name: reviews, dtype: object

# Reviews Recommendation

In [114]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df["reviews"] = df["reviews"].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df["reviews"])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

/var/folders/90/_lwt0ls51gv2bkw5mnzmk25r0000gp/T/ipykernel_68707/1249170509.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["reviews"] = df["reviews"].fillna('')

(2445, 53027)

In [115]:
df.head(5)

,bookName,author,rating,ratingCount,reviewCount,summary,reviews,rating_users,user
0,The Hunger Games,Suzanne Collins,4.32,7550740,186972,could survive wild every one make sure live se...,review hidden contains spoilers view click lma...,5.0,Suzanne Collins
30,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,2999225,53202,door end silent corridor it’s haunting harry p...,“is true shouted professor umbridge yes called...,5.0,"J.K. Rowling, \n\n\nMary GrandPré (Illustrator)"
58,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.61,123988,2034,four volume boxed set contains j r r tolkien e...,shout joy others scream derision however agree...,5.0,J.R.R. Tolkien
86,Wuthering Heights,Emily Brontë,3.88,1597429,48940,find redesigned cover edition best selling nor...,fire much admiration emily brontë right wuther...,5.0,"Emily Brontë, \n\n\nRichard J. Dunn (Editor), ..."
116,The Da Vinci Code,Dan Brown,3.89,2176805,51255,isbn moved edition paris harvard symbologist r...,four stars pure entertainment value however da...,3.0,Dan Brown (Goodreads Author)

In [116]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[5000:5010]

['bugatti',
 'bugged',
 'bugger',
 'buggered',
 'buggery',
 'buggies',
 'buggin',
 'bugs',
 'buh',
 'build']

In [117]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [118]:
cosine_sim.shape

(2445, 2445)

In [119]:
cosine_sim[1]

array([0.02445427, 1.        , 0.        , ..., 0.02706444, 0.        ,
       0.00198848])

In [120]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(df.index, index=df['bookName']).drop_duplicates()

In [121]:
indices[:15]

bookName
The Hunger Games                                                           0
Harry Potter and the Order of the Phoenix                                 30
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings     58
Wuthering Heights                                                         86
The Da Vinci Code                                                        116
The Perks of Being a Wallflower                                          146
Les Misérables                                                           176
Charlotte's Web                                                          205
Dracula                                                                  234
The Odyssey                                                              264
The Handmaid's Tale                                                      293
Little Women                                                             323
1984                                                                     351
The Adventures of Sherlock Holmes                                        380
Rebecca                                                                  409
dtype: int64

In [122]:
 #Function that takes in movie title as input and outputs most similar movies
def get_recommendations1(bookName, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[bookName]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    book_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['bookName'].iloc[book_indices]

In [92]:
df['bookName'].iloc[35]

'Heart of Darkness'

In [126]:
get_recommendations1('The Hunger Games')

13033    Percy Jackson's Greek Gods
15466                  Kings Rising
19946            The Hammer of Thor
64225     Grandma! Can I Get a Dog?
44003                Boys that Bite
23133           Beyond the Kingdoms
2147                     Mockingjay
11882                   The Testing
49274              Kids of Appetite
7478                        Beastly
Name: bookName, dtype: object

# Summary column recommendation

In [102]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df["summary"] = df["summary"].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df["summary"])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

/var/folders/90/_lwt0ls51gv2bkw5mnzmk25r0000gp/T/ipykernel_68707/2633669298.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["summary"] = df["summary"].fillna('')

(2445, 32829)

In [103]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[5000:5010]

['colleagues',
 'collect',
 'collected',
 'collectible',
 'collecting',
 'collection',
 'collections',
 'collective',
 'collectively',
 'collector']

In [104]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [105]:
cosine_sim.shape

(2445, 2445)

In [106]:
cosine_sim[1]

array([0.00291054, 1.        , 0.00600708, ..., 0.        , 0.01226099,
       0.06092137])

In [107]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(df.index, index=df['bookName']).drop_duplicates()

In [108]:
indices[:15]

bookName
The Hunger Games                                                           0
Harry Potter and the Order of the Phoenix                                 30
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings     58
Wuthering Heights                                                         86
The Da Vinci Code                                                        116
The Perks of Being a Wallflower                                          146
Les Misérables                                                           176
Charlotte's Web                                                          205
Dracula                                                                  234
The Odyssey                                                              264
The Handmaid's Tale                                                      293
Little Women                                                             323
1984                                                                     351
The Adventures of Sherlock Holmes                                        380
Rebecca                                                                  409
dtype: int64

In [109]:
 #Function that takes in movie title as input and outputs most similar movies
def get_recommendations(bookName, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[bookName]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    book_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['bookName'].iloc[book_indices]

In [127]:
get_recommendations('The Hunger Games')

2147                                            Mockingjay
2352                                                Legend
18598                                             The Body
64811                                   The Iron-Jawed Boy
1119                                  The Call of the Wild
48018                                    Never Have I Ever
15734                                        Never Too Far
17877                                             Partials
66266    Life After Life: The Investigation of a Phenom...
37846                                            Hereafter
Name: bookName, dtype: object

# Tableau

In [129]:
df1  = df[["bookName", "author", "rating", "ratingCount", "reviewCount"]]

In [130]:
df1.head(5)

,bookName,author,rating,ratingCount,reviewCount
0,The Hunger Games,Suzanne Collins,4.32,7550740,186972
30,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,2999225,53202
58,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.61,123988,2034
86,Wuthering Heights,Emily Brontë,3.88,1597429,48940
116,The Da Vinci Code,Dan Brown,3.89,2176805,51255

In [131]:
df1.to_csv('GOODREADS_EDA', sep=',', header=True, index=False)